.container-fluid {
  max-width: 35cm;
  overflow: hidden;
  max-height: 80cm;
}

.sponsers1 {
  position: relative;
  align-items: center;
  max-width: 100%;
  height: 50%;
  width: 40%;
}

.sponsers2 {
  height: 35%;
  width: 30%;
  max-width: 39%;

  position: relative;
}

.logo {
  left: 1cm;
  top: 0.5cm;
  position: relative;
  width: 192dp;
  height: 26dp;
}

.navbar {
  top: 1cm;
  background-color: #707070;
  margin-bottom: 20px;
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;

  font-family: "Poppins", Regular;
  font-size: 21px;
}
a {
  color: white !important;
}
a:hover {
  color: white !important;
  text-decoration: none;
  font-family: Poppins, Regular;
}

a:focus-visible {
  color: #000000 !important;
}

.dropbtn:focus {
  color: #43eb34 !important;
}

.dropbtn {
  color: #000000 !important;
  background-color: #707070;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 21px;
  border: none;
}

.dropdown {
  color: #000000;
  position: relative;
  display: inline-block;
  background-color: #707070;
}
/*  */
.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  color: #000000 !important;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 20px;
}

.dropdown-content1 a {
  padding: 6px 18px;
  color: black !important;
  display: block;
  font-size: 15px;
}

.dropdown-content1 a:hover {
  background-color: white;
  color: #43eb34 !important;
}

.dropdown-content1:hover .dropbtn {
  color: black !important;
}

.dropdown:hover .dropdown-content1 {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: orange;
  border-radius: 30px;
  color: white !important;
}
/*  */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  color: #000000 !important;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 20px;
}

.dropdown-content a {
  padding: 6px 18px;
  color: black !important;
  display: block;
  font-size: 15px;
}

.dropdown-content a:hover {
  background-color: white;
  color: #43eb34 !important;
}

.dropdown-content:hover .dropbtn {
  color: black !important;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: orange;
  border-radius: 30px;
  color: white !important;
}

.Toogle {
  display: none;
}
/*  */

/*  */

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  color: #000000 !important;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 20px;
}

.dropdown-content2 a {
  padding: 6px 18px;
  color: black !important;
  display: block;
  font-size: 15px;
}

.dropdown-content2 a:hover {
  background-color: white;
  color: #43eb34 !important;
}

.dropdown-content2:hover .dropbtn {
  color: black !important;
}

.dropdown:hover .dropdown-content2 {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: orange;
  border-radius: 30px;
  color: white !important;
}

.Toogle {
  display: none;
}
/*  */

.dropdown-content3 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  color: #000000 !important;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 20px;
}

.dropdown-content3 a {
  padding: 6px 18px;
  color: black !important;
  display: block;
  font-size: 15px;
}

.dropdown-content3 a:hover {
  background-color: white;
  color: #43eb34 !important;
}

.dropdown-content3:hover .dropbtn {
  color: black !important;
}

.dropdown:hover .dropdown-content3 {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: orange;
  border-radius: 30px;
  color: white !important;
}

.Toogle {
  display: none;
}
/*  */
@media only screen and (max-width: 800px) {
}
/*
@media only screen and (max-width: 800px) {
  .Toogle {
    display: inline;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
    display: inline-table;
  }

  .dropdown .dropdown-content {
    display: inline-table;
  }

  .dropdown-content .dropbtn {
    color: white !important;
    background-color: orange;
  }

  .dropdown .dropbtn {
    background-color: orange;
    border-radius: 100px;
  }
} */

.carousel {
  height: 670px;
  width: 100%;
  min-width: 3cm;
  min-height: 7cm;
  border-top-width: 2cm;
  top: 2cm;
  /* left: 2cm; */
  overflow: hidden !important;
}

.carousel .carousel-indicators li {
  background-color: #9f90e8;
  opacity: 10 !important;
  bottom: 3cm;
  position: relative;
}

@media only screen and (max-width: 800px) {
  .carousel .carousel-indicators li {
    background-color: #9f90e8;
    opacity: 10 !important;
    bottom: 8cm;
    position: relative;
  }
}

.carousel-indicators .active {
  background-color: #432caf !important;
}

.carousel-control-prev-icon {
  display: none !important;
}

.carousel .carousel-control-next-icon {
  display: none;
}

.Browsebutn {
  border-radius: 15px;
  color: black;
  width: 130px;
  height: 39px;
  background-color: #fbfbfc;
  right: -9cm;
  position: relative;
  bottom: 2cm;
  font-family: Poppins;
  font-weight: 800;
  border: none;
}

.Browsebutn1 {
  border-radius: 20px;
  color: black;
  width: 100px;
  height: 29px;
  background-color: #fbfbfc;
  right: -5cm;
  position: relative;
  bottom: 1cm;
  font-family: Poppins;
  font-weight: 800;
  border: none !important;
}

/*this is toogle an carosel*/
/* @media only screen and (max-width: 800px) {
  .Sliderpics {
    height: 100% !important;
    width: 100% !important;
    border-radius: 1px !important;
    padding-right: 70px;
  }
}
*/
@media only screen and (max-width: 500px) {
  .Sliderpics {
    height: 80% !important;
    width: 80% !important;
border-radius: 1px !important;
    padding-right: 30px;
  }
} 

.Sliderpics {
  height: 70%;
  width: 70%;
  left: 1.5cm !important;

  object-fit: cover;
  object-position: center;

  position: relative;
  bottom: 0cm;
}

.carousel.slide {
  padding-bottom: 0% !important;
  overflow: hidden;
  height: 14cm;
}

@media only screen and (max-width: 700px) {
  .carousel.slide {
    padding-bottom: 0% !important;
    overflow: hidden;
    height: auto;
    border-radius: 0%;
  }
}

.slick-prev::before {
  color: #000000 !important;
  line-height: 4 !important;
  font-family: slick !important;
  opacity: 100 !important;
  font-size: 30px !important;
  position: relative;
  margin: 10px;
  margin-bottom: 20px;
  bottom: 2cm;
}

.slick-next::before {
  color: #000000 !important;
  line-height: 4 !important;
  font-family: slick !important;
  opacity: 100 !important;
  font-size: 30px !important;
  position: relative;
  bottom: 1.9cm !important;
}

/*Sliders arrows*/

.Sponsers {
  height: 139px;
  text-align: center;
  height: 6cm;
  width: 100%;
  border-radius: 1cm;
  position: relative;
  top: 2cm;
}

.Productcardimage {
  height: 80%;
  object-fit: cover;
  object-position: center;
  width: 100% !important;
  border-radius: 20px !important;
  right: 0cm;
  max-width: 100% !important;
  bottom: 0.3cm;
  position: relative;
}

.card {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 9px 3px 22px #00000029 !important;
  border-radius: 25px !important;
  opacity: 1;
  max-width: 100%;
  height: 7.5cm;
  width: 6cm;
  border: none;
  flex-basis: 200px;
  display: flex;
  word-wrap: inherit;
}

@media only screen and (max-width: 800px) {
  .card {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 9px 3px 22px #00000029 !important;
    border-radius: 25px !important;
    opacity: 1;
    max-width: 100%;
    height: 6cm;
    width: 5cm;
    border: none;
    flex-basis: 200px;
    display: flex;

    word-wrap: inherit;
  }
}

@media only screen and (max-width: 400px) {
  .card {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 9px 3px 22px #00000029 !important;
    border-radius: 25px !important;
    opacity: 1 !important;
    max-width: 100%;
    height: 5cm;
    width: 7cm;
  }
}

/*Leather image style home*/
.CobblerLeather {
  position: relative;
  top: 3cm;
  width: 100%;
  height: 10cm;
  border-radius: 25px;
}

.Leatherbtn {
  border-radius: 15px;
  color: black;
  width: 130px;
  height: 39px;
  background-color: #fbfbfc;
  left: 20cm;
  position: relative;
  bottom: 0cm;
  font-family: Poppins;
  font-weight: 800;
  border: none !important;
}

.Leatherdiscription {
  bottom: 7cm;
  left: 1cm;
  position: relative;
}

.icondnwld {
  opacity: 1;
  left: 0.4cm;
  height: 0.5cm;
  width: 0.5cm;
  position: relative;
}

#helo:active {
  color: blue;
  text-decoration: underline;
}

.App {
  overflow: hidden !important;
}

.Fiberproductcol1 {
  height: 5cm;
  width: 5cm;
  opacity: 1;
  margin: 10px;
}

.Fiberproductcol2 {
  height: 5cm;
  width: 5cm;
  opacity: 1;
  margin: 10px;
}

/* .pdfIcon{
} */

.Fiberproductcol3 {
  height: 5cm;
  width: 5cm;
  opacity: 1;
  margin: 10px;
}

.Fiberproductcol4 {
  height: 5cm;
  width: 5cm;
  opacity: 1;
  margin: 10px;
}

.Fiberproductcol5 {
  height: 5cm;
  width: 5cm;
  opacity: 1;
  margin: 10px;
}

.h1,
h1 {
  font-size: 30px;
  font-weight: 900;
}

/*Fiber css finish*/

/*     Footer css*/
.span {
  font-family: Poppins, Regular;
}

.strong {
  font-family: Poppins, Regular;
}

.footer {
  background-color: #73f67c;
  position: relative;
  height: 200px;
  max-width: none;
  max-height: none;
  width: 100%;
  overflow: visible;
   border-radius: 20px;   
  box-shadow: 9px 2px 22px 12px #00000029 !important;
  
}

@media only screen and (max-width: 800px) {
  .footer {
    /*transition: border-radius 0.3s, opacity 0.3s;*/
    background-color: #73f67c;
    border: #000000 !important;
    border-color: #000000;
    position: relative;
    height: 400px;
    max-width: none;
    max-height: none;
    width: 100%;
    overflow: hidden;
    /* border-radius: 30px; */
    top: 10px;
    box-shadow: 9px 2px 22px 12px #00000029 !important;
 display: block;
  }
}

/*Footer  css ends*/

/* customized component style */

.imgfiberCard {
  background-image: url("../img/yarn.png") !important;
  background-size: cover;
  width: 100%;
  height: max-content;
  border: none;
  border-color: #ffffff;
  padding: 0%;
}

.imgBrandsCard {
  background-image: url("../img/yarncopy.jpg") !important;
  background-size: cover;
  width: 100%;
  height: max-content;
  border: none;
  border-color: #ffffff;
  padding: 0%;
}

.imgEcoCard {
  background-image: url("../img/Eco1.jpg") !important;
  background-size: cover;
  width: 100%;
  height: max-content;
  border: none;
  border-color: #ffffff;
  padding: 0%;
}

.imgLeathersCard {
  background-image: url("../img/leather.png") !important;
  background-size: cover;
  width: 100%;
  height: max-content;
  border: none;
  border-color: #ffffff;
  padding: 0%;
}

.imgKnitsCard {
  background-image: url("../img/yarncopy.jpg") !important;
  background-size: cover;
  width: 100%;
  height: max-content;
  border: none;
  border-color: #ffffff;
  padding: 0%;
}

.imgFabricsCard {
  background-image: url("../img/fab.png") !important;
  background-size: cover;
  width: 100%;
  height: max-content;
  border: none;
  border-color: #ffffff;
  padding: 0%;
}

.imgYarnCard {
  background-image: url("../img/colorthreds.jpg") !important;
  background-size: cover;
  width: 100%;
  height: max-content;
  border: none;
  border-color: #ffffff;
  padding: 0%;
}

.bgImg {
  width: 100%;
  height: max-content;
  border-radius: 20px;
}

.cardTitle {
  font-size: 25px;
  font-weight: 800;
  font-family: Poppins, Regular;
}

.contentCard {
  width: 70%;
  height: max-content;
  background: transparent;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(10px);
  opacity: 1;
  margin: 3em auto;
  color: #0c0b10;
  text-align: justify;
  font-family: Poppins, Regular;
  text-align: center;
}

.cardContent {
  text-align: justify;
  font-family: Poppins, Regular;
}

.cardButton {
  width: fit-content;
  height: 50px;
  border-radius: 40px;
  color: #106cc4;
  margin: auto;
  font-size: 20px;
  font-weight: 500;
  font-family: Poppins, Regular;
  background-color: #ffffff;
  border: none !important;
  opacity: 1 !important;
  box-shadow: 9px 3px 50px #00000029 !important;
}

.pdfIcon {
  margin-right: 20px;
}

h1 {
  text-align: center;
  font-family: Poppins, Bold;
}

.websiteButton {
  color: #ffffff;
  background-color: #c62525 !important;
  width: max-content;
  height: 53px;
  opacity: 1;
  border-radius: 40px;
  border: none !important;
  font-size: 20px;
  font-family: Poppins, Regular;
  box-shadow: 9px 3px 50px #00000029 !important;
  margin: auto;
}

.contactCard {
  height: 30%;
  width: 65%;
  text-align: center;
  background-color: #0d67dc !important;
  border-radius: 45px;
  margin: auto;
  color: #ffffff;
  box-shadow: 9px 3px 22px #00000029 !important;
}

.contactImg {
  width: max-content;
  /* height: 235px; */
  margin: auto;
  background: transparent;
  opacity: 1 !important;
  max-width: 100%;
  max-height: 100%;
}

.contactForm {
  font-family: Poppins, Regular;
  font-weight: 100;
  margin: auto;
  width: max-content;
  text-align: center;
  height: max-content;
}

.Contactusbtn {
  border-radius: 20px;
  width: 70%;
  background-color: white;
  font-family: Poppins, Regular;
  font-weight: 100;
  font-size: 15px;
  border: none !important;
  color: blue;
  margin: auto;
  position: relative;
}

.form-control {
  display: block;
  width: 100%;
  height: max-content;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  /* top: 2px; */
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  margin: auto;
}

.flex-container {
  display: flex;
  justify-content: flex-end;
}

.search {
  width: max-content;
}

.search .searchBar {
  width: 100%;
  position: relative;
  display: flex;
  top: 30px;
}

.search .searchInput {
  width: 100%;
  border: 1px solid #121313b7;
  padding: 10px;
  border-radius: 30px 0 0 30px;
  border-right: none;
  color: rgb(246, 250, 248);
}

.search .searchInput:focus {
  color: #0c0d0e;
}

.search .searchButton {
  width: 30%;
  height: 50px;
  border: 1px solid #121313b7;
  text-align: center;
  color: #fff;
  border-radius: 0px 30px 30px 0px;
  border-left: none;
  cursor: pointer;
  background-color: white;
  font-family: Poppins, Regular;
  position: relative;
}
