.container-fluid {
  max-width: 35cm;
  overflow: hidden;
  max-height: 80cm;
}

.sponsers1 {
  position: relative;
  align-items: center;
  max-width: 100%;
  height: 50%;
  width: 50%;
}

.sponsers2 {
  height: 50%;
  width: 50%;
  max-width: 100%;

  position: relative;
}

.logo {
  left: 1cm;
  top: 0.5cm;
  position: relative;
  width: 192dp;
  height: 26dp;
}
.navbar {
  top: 1cm;

  background-color: #707070;
  margin-bottom: 20px;
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;

  font-family: "Poppins", Regular;
  font-size: 21px;
}
#basic-navbar-nav {
  background-color: #707070 !important;

  font-family: "Poppins", Regular;
  font-size: 21px;
}
#nav-Dropdown {
  color: #129652 !important;
  top: 0.6cm;
  overflow: hidden;
}
.dropdown-toggle:after {
  display: none !important;
}
.nav-link {
  color: #ffffff !important;
}
.Ecofriendlynav {
  color: #15dd76 !important;
  position: relative;
  left: 2cm;
  top: 0cm;
  overflow: hidden;
}


.dropdown:hover .dropdown-menu{
  display: block !important;
  
  position: relative;
}

#Navline:focus {
  background-color: #ffffff;
  border-radius: 60px;
  width: 3.3cm;
  opacity: 10;
  top: 0.2cm;
  height: 0.9cm;
  text-align: center;
  position: relative;
  padding: 0%;
  color: #faa90e !important;
  text-decoration: underline !important;
  text-decoration-thickness: 5px !important;
}

#Navline:hover {
  background-color: #ffffff;
  border-radius: 60px;
  width: 3.3cm;
  opacity: 10;
  top: 0.2cm;
  height: 0.9cm;
  text-align: center;
  position: relative;
  padding: 0%;

  color: #faa90e !important;
  text-decoration: underline !important;
  text-decoration-thickness: 5px !important;
  animation-delay: 5ms;
  transform: perspective(2000) translateZ(300px);
}

#Navline2:focus {
  background-color: #ffffff;
  border-radius: 60px;
  width: 5cm;
  opacity: 10;
  bottom: 0cm;
  top: 0.2cm;
  height: 0.9cm;
  text-align: center;
  position: relative;
  padding: 0cm;
  color: green !important;
  bottom: 0cm;
  text-decoration: underline !important;
  text-decoration-thickness: 5px !important;
  padding: 0%;
}
#Navline2:hover {
  background-color: #ffffff;
  border-radius: 60px;
  color: #15dd76 !important;
  width: 5cm;
  opacity: 10;
  top: 0.2cm;
  height: 0.9cm;
  text-align: center;
  position: relative;
  padding: 0cm;
  padding: 0%;
  text-decoration: underline !important;
  text-decoration-thickness: 5px !important;
}

.hello {
  background-color: #707070;

  bottom: 0.1cm;
  max-height: fit-content;
  position: relative;
  min-height: fit-content;
}
.carousel {
  height: 670px;
  width: 100%;
  min-width: 3cm;
  min-height: 7cm;
  border-top-width: 2cm;
  top: 2cm;
  /* left: 2cm; */
  overflow: hidden !important;
}
.carousel .carousel-indicators li {
  background-color: #9f90e8;
  opacity: 10 !important;
  bottom: 3cm;
  position: relative;
}
@media only screen and (max-width: 800px) {
  .carousel .carousel-indicators li {
    background-color: #9f90e8;
    opacity: 10 !important;
    bottom: 8cm;
    position: relative;
  }
}
.carousel-indicators .active {
  background-color: #432caf !important;
}

.carousel-control-prev-icon {
  display: none !important;
}

.carousel .carousel-control-next-icon {
  display: none;
}

.Browsebutn {
  border-radius: 15px;
  color: black;
  width: 130px;
  height: 39px;
  background-color: #fbfbfc;
  right: -9cm;
  position: relative;
  bottom: 2cm;
  font-family: Poppins;
  font-weight: 800;
  border: none !important;
}

.Browsebutn1 {
  border-radius: 20px;
  color: black;
  width: 100px;
  height: 29px;
  background-color: #fbfbfc;
  right: -5cm;
  position: relative;
  bottom: 1cm;
  font-family: Poppins;
  font-weight: 800;
  border: none !important;
}
/*this is toogle an carosel*/
@media only screen and (max-width: 800px) {
  .Sliderpics {
    height: 100% !important;
    width: 100% !important;
  }
}

.Sliderpics {
  height: 70%;
  width: 70%;
  left: 1.5cm !important;

  object-fit: cover;
  object-position: center;

  position: relative;
  bottom: 0cm;
}
.carousel.slide {
  padding-bottom: 0% !important;
  overflow: hidden;
  height: 14cm;
}

.slick-prev::before {
  color: #000000 !important;
  line-height: 4 !important;
  font-family: slick !important;
  opacity: 100 !important;
  font-size: 30px !important;
  position: relative;
  margin: 10px;
  margin-bottom: 20px;
  bottom: 2cm;
}
.slick-next::before {
  color: #000000 !important;
  line-height: 4 !important;
  font-family: slick !important;
  opacity: 100 !important;
  font-size: 30px !important;
  position: relative;
  bottom: 1.9cm !important;
}
/*Sliders arrows*/

.Sponsers {
  height: 139px;
  text-align: center;
  height: 6cm;
  width: 100%;
  border-radius: 1cm;
  position: relative;
  top: 2cm;
}

.Productcardimage {
  height: 80%;
  object-fit: cover;
  object-position: center;
  width: 100% !important;
  border-radius: 20px !important;
  right: 0cm;
  max-width: 100% !important;
  bottom: 0.3cm;
  position: relative;
}

.card {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 9px 3px 22px #00000029 !important;
  border-radius: 25px !important;
  opacity: 1;
  max-width: 100%;
  height: 7.5cm;
  width: 6cm;
  border: none;
  flex-basis: 200px;
  display: flex;
  word-wrap: inherit;
}
@media only screen and (max-width: 800px) {
  .card {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 9px 3px 22px #00000029 !important;
    border-radius: 25px !important;
    opacity: 1;
    max-width: 100%;
    height: 6cm;
    width: 5cm;
    border: none;
    flex-basis: 200px;
    display: flex;

    word-wrap: inherit;
  }
}
@media only screen and (max-width: 400px) {
  .card {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 9px 3px 22px #00000029 !important;
    border-radius: 25px !important;
    opacity: 1 !important;
    max-width: 100%;
    height: 5cm;
    width: 7cm;
  }
}
/*Leather image style home*/
.CobblerLeather {
  position: relative;
  top: 3cm;
  width: 100%;
  height: 10cm;
  border-radius: 25px;
}
.Leatherbtn {
  border-radius: 15px;
  color: black;
  width: 130px;
  height: 39px;
  background-color: #fbfbfc;
  left: 20cm;
  position: relative;
  bottom: 0cm;
  font-family: Poppins;
  font-weight: 800;
  border: none !important;
}
.Leatherdiscription {
  bottom: 7cm;
  left: 1cm;
  position: relative;
}

.icondnwld {
  opacity: 1;
  left: 0.4cm;
  height: 0.5cm;
  width: 0.5cm;
  position: relative;
}

#helo:active {
  color: blue;
  text-decoration: underline;
}

.App {
  overflow: hidden !important;
}
.Fiberproductcol1 {
  height: 5cm;
  width: 5cm;
  opacity: 1;
  margin: 10px;
}
.Fiberproductcol2 {
  height: 5cm;
  width: 5cm;
  opacity: 1;
  margin: 10px;
}
.Fiberproductcol3 {
  height: 5cm;
  width: 5cm;
  opacity: 1;
  margin: 10px;
}
.Fiberproductcol4 {
  height: 5cm;
  width: 5cm;
  opacity: 1;
  margin: 10px;
}
.Fiberproductcol5 {
  height: 5cm;
  width: 5cm;
  opacity: 1;
  margin: 10px;
}

.h1,
h1 {
  font-size: 30px;
  font-weight: 900;
}

/*Fiber css finish*/

/*     Footer css*/
.span{
  font-family: Poppins,Regular;
}

.strong{
  font-family: Poppins,Regular;
}
a {
  color: black;
  text-decoration: none;
  font-family: Poppins, Regular;
}
a:hover {
  color: black;
  text-decoration: none !important;
  font-family: Poppins, Regular;
}
.footer {
  background-color: #fa5e5373;
  position: relative;
  height: 350px;
  max-width: none;
  max-height: none;
  width: 100%;
  overflow: visible;
  border-radius: 30px;
  box-shadow: 9px 2px 22px 12px #00000029 !important;
}

@media only screen and (max-width: 800px) {
  .footer {
    /*transition: border-radius 0.3s, opacity 0.3s;*/
    background-color: #fa5e5373;
    border: #000000 !important;
    border-color: #000000;
    position: relative;
    height: 720px;
    max-width: none;
    max-height: none;
    width: 100%;
    overflow: hidden;
    border-radius: 30px;
    top: 10px;
    box-shadow: 9px 2px 22px 12px #00000029 !important;
  }
}
.MeMeFooter {
  left: 1cm;
  top: 0.4cm;
  position: relative;
  width: 5cm;
  height: 1.5cm;
  max-width: none;
  max-height: none;
  min-width: 2cm;
  min-height: 0.5cm;
}
@media only screen and (max-width: 500px) {
  .MeMeFooter {
    left: 2cm;
    position: relative;
    width: 5cm;
    height: 1.5cm;
    max-width: none;
    max-height: none;
    min-width: 2cm;
    min-height: 0.5cm;
  }
}

/*Footer  css ends*/

/* customized component style */

.imgfiberCard {
  background-image: url("../img/yarn.png") !important;
  background-size: cover;
  width: 100%;
  height: max-content;
  border: none;
  border-color: #ffffff;
  padding: 0%;
}
.imgBrandsCard {
  background-image: url("../img/yarncopy.jpg") !important;
  background-size: cover;
  width: 100%;
  height: max-content;
  border: none;
  border-color: #ffffff;
  padding: 0%;
}
.imgEcoCard {
  background-image: url("../img/Eco1.jpg") !important;
  background-size: cover;
  width: 100%;
  height: max-content;
  border: none;
  border-color: #ffffff;
  padding: 0%;
}
.imgLeathersCard {
  background-image: url("../img/leather.png") !important;
  background-size: cover;
  width: 100%;
  height: max-content;
  border: none;
  border-color: #ffffff;
  padding: 0%;
}
.imgKnitsCard {
  background-image: url("../img/yarncopy.jpg") !important;
  background-size: cover;
  width: 100%;
  height: max-content;
  border: none;
  border-color: #ffffff;
  padding: 0%;
}
.imgFabricsCard {
  background-image: url("../img/fab.png") !important;
  background-size: cover;
  width: 100%;
  height: max-content;
  border: none;
  border-color: #ffffff;
  padding: 0%;
}

.imgYarnCard {
  background-image: url("../img/colorthreds.jpg") !important;
  background-size: cover;
  width: 100%;
  height: max-content;
  border: none;
  border-color: #ffffff;
  padding: 0%;
}
.bgImg {
  width: 100%;
  height: max-content;
  border-radius: 20px;
}
.cardTitle {
  font-size: 25px;
  font-weight: 800;
  font-family: Poppins, Regular;
}

.contentCard {
  width: 70%;
  height: max-content;
  background: transparent;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(10px);
  opacity: 1;
  margin: 3em auto;
  color: #0c0b10;
  text-align: justify;
  font-family: Poppins, Regular;
  text-align: center;
}

.cardContent {
  text-align: justify;
  font-family: Poppins, Regular;
}

.cardButton {
  width: max-content;
  height: 50px;
  border-radius: 40px;
  color: #106cc4;
  margin: auto;
  font-size: 20px;
  font-weight: 500;
  font-family: Poppins, Regular;
  background-color: #ffffff;
  border: none !important;
  opacity: 1 !important;
  box-shadow: 9px 3px 50px #00000029 !important;
}

h1 {
  text-align: center;
  font-family: Poppins, Bold;
}

.websiteButton {
  color: #ffffff;
  background-color: #c62525 !important;
  width: max-content;
  height: 53px;
  opacity: 1;
  border-radius: 40px;
  border: none !important;
  font-size: 20px;
  font-family: Poppins, Regular;
  box-shadow: 9px 3px 50px #00000029 !important;
  margin: auto;
}

.contactCard {
  height: fit-content;
  width: 100%;
  text-align: center;
  background-color: #129652 !important;
  border-radius: 45px;
  margin: auto;
  color: #ffffff;
  box-shadow: 9px 3px 22px #00000029 !important;
}

.contactImg {
  width: max-content;
  height: 235px;
  margin: auto;
  background: transparent;
  opacity: 1 !important;
}

.contactForm {
  font-family: Poppins, Regular;
  font-weight: 100;
  margin: auto;
  width: max-content;
  text-align: center;
  height: max-content;
}

.Contactusbtn {
  border-radius: 20px;
  width: max-content;
  background-color: rgb(49, 170, 218);
  font-family: Poppins, Regular;
  font-weight: 100;
  font-size: 15px;
  border: none !important;
  color: #ffffff;
  margin: auto;
  position: relative;
}

.form-control {
  display: block;
  width: 100%;
  height: max-content;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  /* top: 2px; */
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  margin: auto;
}

.flex-container {
  display: flex;
  justify-content: flex-end;
}

.search {
  width: max-content;
}

.search .searchBar {
  width: 100%;
  position: relative;
  display: flex;
  top: 30px;
}

.search .searchInput {
  width: 100%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 5px;
  border-radius: 10px 0 0 10px;
  outline: none;
  color: #9dbfaf;
}

.search .searchInput:focus {
  color: #00b4cc;
}

.search .searchButton {
  width: 30%;
  height: 50px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  font-size: 15px;
  font-family: Poppins, Regular;
}
